.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  outline: none;
  box-shadow: none;
  border-color: #bbb;
}

.btn:hover {
  color: #fff;
  background-color: var(--dark-color);
  border-color: var(--bs-btn-hover-border-color);
}

.btn:focus-visible {
  color: #fff; 
  background-color: var(--dark-color);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: var(--dark-color);
  border: none;
  color: #fff;
}

button {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  --bs-btn-color: #fff !important;
  --bs-btn-bg: var(--primary-color) !important;
}

i {
  font-size: 20px;
  margin-left: 6px;
  cursor: pointer;
  color: #bbb;
}

i.active {
  color: var(--dark-color);
}


nav {
	width: 100%;
	font-size: 12px;
	text-align: center;
  }
  
  .navbar {
	width: 100%;
	background-color: #44c9c8;
  }
  
  nav a.router-link-exact-active {
	color: var(--color-text);
  }
  
  nav a.router-link-exact-active:hover {
	background-color: transparent;
  }

  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}


.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

